/* Form */


th {
  font-size: 10pt;
  background-color: rgb(245, 245, 245);
}
.approval-wrapper td,
.approval-wrapper th{
  border: 1px solid #000;
}
.approval-wrapper td{
  font-size: 9.5pt;
  font-weight: 500;
}
.approval-wrapper p {
  margin: 0;
}

input:focus {
  outline: 1px solid #aedaff;
  box-shadow: 0 0 10px #7ebbec;
}

input[type="file"] {
  position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.input-box{
  padding: 0 !important;
}
.input-box input {
  height: 90%;
}

strong{
  font-size: 10pt;
}

button{
  cursor: pointer;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
  flex-direction: column;
}
footer p {
  font-size: 18pt;
  margin-top: 40px;
}




.border {
  border: 1px solid black;
}

.apporval-document{
  border: 2px solid black;
}
/* approval-wrapper */
.approval-wrapper{
  width: 55rem;
  display: flex;
  align-items: center;
  border: 2px solid black;
  padding: 50px 25px;
  margin-bottom: 50px;
  justify-content: center;
  flex-direction: column;
}

/* A4 SIZE */

.approval-wrapper form {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1.5cm 1.5cm 2cm 1.5cm;
}

.approval-wrapper form {
  border: 1px solid #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Header */

.header-logo{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.header-logo img {
  width: 150px;
}

.header-box__wrapper{
  display: flex;
  justify-content: space-between;
  height: 200px;
}
.header__left{
  width: 49%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.header__left__common{
  width: 49%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.header__left h1{
  font-size: 25pt;
  word-spacing: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header__right{
  display: flex;
  align-items: stretch;
  width: 49%;
  justify-content: flex-end;
}
.header-table,
.header-info,
.reference-table {
  border: 1px solid #000;
  width: 100%;
  border-collapse: collapse;
}
.reference-table{
  width: 100%;
}
.reference-table th{
  width: 113px;
  height: 30px;
}
.reference-table div {
  padding: 5px 0px;
}

.header-info{
  height: 140px;
}
.header-info td {
  font-weight: 600;
  padding: 0px 10px;
}
.header-info p {
  text-align: center;
}
.header-table__common{
  border: 1px solid #000;
  width: 100%;
  border-collapse: collapse;
  height: 100%;
}
.header-table__common input,
.reference-table input{
  border: none;
  display: flex;
  height: -webkit-fill-available;
  width: 97%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 9.5pt;
  text-align: center;
}
.reference-table input{
  text-align: left;
}
.header-table__approval-th{
  width: 140px;
  height: 30px;
  border: 1px solid black;
  position: relative;
}
.header-table__approval-td{
  width: 70%;
}
/* Body Table */
.body-table{
  width: 94%;
  height: 150px;
}
.body-table th{
  height: 25px;
}
.body-table td{
  height: 22px;
  text-align: center;
}
.body-table__300{
  width: 35%;
}
.body-table__150{
  width: 15%;
}
.body_table__100{
  width: 10%;
}
.body-table__input{
  height: inherit;
  width: -webkit-fill-available;
  border: none;
  padding: 0;
}

.approver-content,
.agreement-content {
  height: 35%;
  text-align: center;
  font-size: 12pt !important;
  letter-spacing: -1pt;
}
.approver-content-item-container {
  width: 100%;
}
.approver-content div span:first-child{
  font-weight: 700;
}
.approver-content div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.approver-complete-container {
  height: 55px;
}
.approver-index {
  border-radius: 50%;
  background-color: #332F29;
  color: #ffffff;
  display: inline-block;
  position: absolute;
  left: 5%;
}
.approver-index div {
  width: 15px;
  font-size: 8pt;
}
.approver-table-header{
  text-align: center;
}
.approver-result-blue{
  font-size: 10pt !important;
  color: #2750a8;
  font-weight: 900 !important;
}

.approver-result-red{
  font-size: 10pt;
  color: #da0000;
  font-weight: 900 !important;
}

.approver-result-gray{
  font-size: 10pt;
  color: #919191;
  font-weight: 500 !important;
}
.approver-complete-container span:nth-child(3){
  font-size: 8pt;
}
.approver-complete-date {
  font-size: 9pt;
}

/* Text Table */

.text-wrapper{
  padding: 20px 20px;
}
.text-wrapper div{
  margin-top: 10px;
}
.text-table td {
  border: none;
}

.text-wrapper strong{
  margin-bottom: 20px;
}
.text-wrapper p {
  font-size: 9pt;
  margin: 2px 0px;
}

.date_wrapper{
  margin: 30px 0px;
  text-align: center;
  word-spacing: 15px;
}
.first-paragraph{
  margin-top: 8px !important;
}
.second-paragraph{
  margin-top: 10px;
}

.date_wrapper p {
  margin: 15px 20px;
  font-size: 12pt;
  text-decoration: underline;
  word-spacing: 100px;
  text-align: right;
}

.attachment-warpper{
  margin: 100px 0px;
  display: flex;
}

.attachment-warpper p {
  font-size: 9pt;
  padding-left: 5px;
}

.footer{
  text-align: right;
  margin-top: 40px !important;
}

.footer-text{
  display: flex;
    align-items: center;
    justify-content: center;
}

.second-paragraph{
  padding-top: 20px;
  padding-bottom: 40px;
}


/* approval Create */
.approval-create-wrapper{
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 10px;
}
.approval__document-type{
  margin-top: 45px;
  margin-right: 35px;
  margin-bottom: 35px;
  margin-left: 35px;
  border: 1px solid #919191;
  padding: 10px;
  border-radius: 10px;
}
.approval__document{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}
.inner-container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.update-input {
  background-color: #e9f4fd;
}

/* approval Attachment */
.approval-attachment{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}
.file-info{
  width: 20rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a0a0a0;
  position: absolute;
}
.file-download{
  font-size: 9pt;
  font-weight: 500;
  padding: 10px;
}
.file-download ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.file-download li,
.file-list li {
  cursor: pointer;
  color: #585858;
  border: 1px solid #CC8B29;
  border-radius: 30px;
  margin: 2px;
  padding: 2px 7px;
}
.file-download li:hover{
  background-color: #f3f3f3;
  transition: 0.2s all;
}
.file-download span {
  text-align: center;
  font-size: 10pt;
  color: #585858;
}
.file-download button {
  background-color: #ffffff00;
  font-size: 8pt;
  padding-right: 0px;
}
.approval-attachment p {
  font-size: 10pt;
  display: inline-block;
}
.approval-attachment h2{
  margin-top: 0;
  font-size: 12pt;
}
.approval-attachment h2 i {
  margin-right: 5px;
}
.approval-attachment-item{
  justify-content: center;
}
.approval-attachment-item,
.approval-attachment-item-download{
  border: 1px solid #c9c5c5;
  border-radius: 3px;
  width: 100%;
  min-height: 100px;
  height: auto;
  border-style: dashed;
  display: flex;
  align-items: center;
}
.approval-attachment-item-download{
}
.approval-attachment-item label {
  display: inline-block;
  color: #a0a0a0;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 3px;
  border-radius: 3px;
  font-size: 11pt;
  font-weight: bold;
}
.approval-attachment-item input {
  font-size: 10pt;
  border: none;
}
.file-edit{
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
}
.file-edit i {
  padding-left: 8px;
  font-size: 11pt;
}
.file-list{
  display: flex;
  flex: 1;
  border-radius: 5px;
  padding: 0px 10px;
  display: none;
}
.file-list ul {
  display: flex;
  flex-direction: row;
}
.file-list.active{
  display: block;
}

.file-list p {
  font-size: 10pt;
  margin: 0;
}
.file-list ul {
  margin: 0;
  padding: 0;
  font-size: 10pt;
}
.file-list li {
  font-size: 9pt;
  display: flex;
  line-height: 1.5rem;
}
.file-list span {
  display: flex;
}
.file-list i {
  font-size: 12pt;
  color: #757575;
  margin-left: 5px;
}
.file-list button{
  background-color: #fff;
  display: flex;
  align-items: center;
}
/* button-wrapper */

.button-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.button-wrapper button {
  font-size: 12pt;
  background-color: #1f5079;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 2px 10px 3px 10px;
  border: none;
  margin: 5px;
  border-radius: 3px;
}

.button-wrapper .cancle-button{
  background-color: #e00f00;
}

.button-wrapper .button-gray{
  background-color: #838383;
}

.button-wrapper button:hover{
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s ease;
}

/* ApprovalComment */
  
.comment-wrapper {
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.comment-wrapper h2 {
  margin: 0;
  
}
.comment-wrapper i {
  margin-left: 10px;
}
.comment-wrapper hr {
  width: 100%;
  height: 1px;
  background-color: #b8b8b8;
}
.comment-info-wrapper{
  display: flex;
  height: 50px;
  align-items: center;
}

.comment-container{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 20px 0px;
  align-items: flex-start;
}
.comment-profile-usename{
  display: flex;
  width: 100%;
  margin-left: 5px;
  font-size: 11pt;
  font-weight: 500;
  letter-spacing: -1pt;
  flex-direction: column;
}
.comment-profile-usename span:nth-child(2){
  font-size: 9pt;
}
.comment-input-wrapper{
  display: flex;
  width: 100%;
  height: calc(100% - 20px);
}
.comment-input-wrapper textarea {
  width: 97%;
  border: 1px solid #c9c5c5;
  background-color: #ffffff;
  border-radius: 5px;
  resize: none;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  padding: 10px;
  white-space: pre-line;
}
.comment-profile-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.comment-wrapper button {
  display: flex;
  width: 80px;
  height: 100%;
  font-size: 11pt;
  margin-left: auto;
  padding: 2px 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.comment-list-item-container{
  display: flex;
  align-items: center;
}
.comment-info-wrapper{
  width: 15%;
}
.comment-content{
  width: 80%;
}
.comment-edit{
  display: flex;
  align-items: center;
}
.comment-edit input {
  border: 1px solid #c9c5c5; 
  width: 90%;
}
.comment-modDate {
  font-size: 8pt !important;
}
.comment-button-box{
  width: 5%;
}
.comment-button-box.fa-solid.fa-xmark {
  color: red;
}
.comment-content textarea {
  resize: none;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  width: 95%;
  border-radius: 3px;
  height: 100%;
  margin-left: -5px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 9.5pt;
  white-space: pre-line;
}
.comment-list-item-container p {
  font-size: 11pt;
  font-weight: 500;
}
.comment-content p{
  font-size: 9.5pt;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.comment-content span {
  font-size: 8pt;
  color: #838383;
}
.comment-button-box{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.comment-item {
  font-size: 9.5pt !important;
  color: #000 !important;
}
.comment-date{
  margin-right: 10px;
}
.checkIcon{
  font-weight: 900;
  font-size: 14pt;
}
.xmarkIcon{
  color: #da0000;
  font-weight: 900;
  font-size: 14pt;
}