hr {
  height: 2px;
  background-color: black;
  border: none;
}

li, ul {
  list-style: none;
}

.card input{
  height: 18px;
  font-size: 10pt;
}

input::placeholder {
  font-size: 10pt;
  color: #a7a7a7;
  transform-origin: left center;
  padding-left: 2px;
  overflow: visible;
}

input:focus{
  outline: 1px solid #aedaff;
  box-shadow: 0 0 3px #7ebbec;
  z-index: 999;
}

/* Button Box */
.button--box{
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
}

.button--box button{
  margin: 0px 3px 0px 3px;
}
.button--alt{
  float: right;
  border-radius: 3px;
  font-weight: 800;
  margin-top: 10px;
  font-size: 12pt;
  padding: 0px 10px 2px 10px;
  background-color: #dfdfdf;
}
.button--complete{
  border-radius: 3px;
  font-weight: 400;
  margin-top: 10px;
  font-size: 12pt;
  padding: 0px 10px 2px 10px;
  background-color: #332F29;
  color: #ffffff;
}

.approval-container,
.approval-ref-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.organizaion-selector-wrapper,
.approval-ref-selector-wrapper{
  flex-direction: row;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.organization-selector__input-wrapper,
.organization-selector__result-wrapper,
.document-selector-wrapper{
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
}

.organization-selector__result-wrapper{
  width: 380px;
}
.organization-selector__input-wrapper .accordion {
  height: 250px;
}
.organization-selector__result-wrapper .card,
.document-selector-wrapper .card {
  flex: 1;
}

.organization-selector__input-wrapper input,
.document-selector-wrapper input{
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #e0e0e0;
  flex: 1;
}


/* card */

.card{
  width: 100%;
  height: auto;
  box-shadow: #4444442e 0px 5px 10px 2px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-header p{
  font-weight: 500;
  font-size: 12pt;
  line-height: 10px;
  margin: 0;
  padding: 0;
}

/* card-search */

.card-search{
  display: flex;
  flex-direction: row;
}

.card-search button,
.emp-list__undo-btn {
  border: none;
  border-radius: 0px 3px 3px 0px;
  background-color: rgb(209, 209, 209);
  width: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-search button:hover{
  background-color: #52525254;
  transition: all 0.2s ease;
}
.card-search i {
  font-size: 10pt;
}

/* organization-list */

.organization-list{
  
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.organization-list i {
  color: #1f5079;
  font-size: 8pt
}

/* accordion  */

.accordion {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  height: 180px;
  font-size: 11pt;
  overflow-y: scroll;
}
.accordion > .accordion-item:first-child > .accordion-header i{
  color: #061f33;
  margin-left: -5px;
}
.accordion > .accordion-item:first-child > .accordion-header span {
  margin-left: -3px;
  font-weight: 500;
}

.accordion-header{
  display: flex;
  align-items: center;
  cursor: pointer;
  transition:  max-height 0.2 ease;
  line-height: 18px;
  padding-left: 7px;
}
.accordion-header__toggle{
  width: 100%;
}
.accordion-header button {
  margin-left: auto;
  border-radius: 3px;
  padding: 0px 6px;

}
.accordion-header button:hover {
  background-color: #bbbbbb !important;
}
.accordion-item{
  letter-spacing: -1px;
  width: 100%;
}


.accordion-item.active {
  font-weight: 900;
}
.accordion-header span {
  font-size: 11pt;
  font-weight: 800;
}

.accordion-header i{
  margin-right: 8px;
  font-size: 11pt;
  color: #1f5079;
}


.accordion-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/* 아코디언 및 서브 아코디언 활성화 스타일 */


.depth2 i {
  color: #3384c7;
  margin-left: 10px;
}
.depth3 i{
  color: #92c4ec;
  margin-left: 20px;
}
.depth4 i {
  color: #607485;
  margin-left: 10px;
}





/* EMP list */

.emp-list,
.document-list,
.document-bookmark{
  padding: 5px 5px;
  margin-top: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  height: 100px;
  font-size: 8pt;
  overflow-y: scroll;
}
.document-list{
  height: 150px;
}

/* Bookmark */

.document-bookmark {
  background-color: #f5f5f5;

}


.emp-list__result{
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  height: 260px;
  font-size: 12pt;
  line-height: 13pt;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.emp-list__1,
.emp-list__agreement{
  display: flex;
  justify-content: center;
}

.emp-list__agreement{
  margin-top: 10px;
  margin-bottom: 15px;
}

.emp-list__result p {
  font-weight: 600;
  font-size: 12pt;
  background-color: #ececec;
  width: 80px;
  padding: 3px;
  margin: 10px;
}
.emp-list__undo-btn{
  font-size: 10pt;
  border-radius: 5px;
  font-weight: 900;
  width: 1.5rem;
  background-color: white;
  border: 1px solid rgb(155, 155, 155);
}


/* Emp Item */
.emp-item,
.add-emp-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding: 5px;
}
.approver-item button {
  width: 40px;
  border-radius: 3px;
  color: #5f5f5f;
}
.emp-index,
.emp-index--ref{
  display: flex;
  flex: 1;
}
.emp-index{ 
  cursor: grab;
}
.emp-index--ref{
  cursor: default;
}

.emp-index-default{
  display: flex;
  flex: 1;
}
.emp-index-default button{
  cursor: auto;
}
.approver-item span:first-child{
  width: 5%;
  text-align: center;
  padding-left: 3px;
}
.approver-item span:nth-child(2){
  width: 25%;
  padding-left: 5px;
  text-align: center;
}
.approver-item span:nth-child(3){
  width: 25%;
  text-align: center;
}
.approver-item span:nth-child(4){
  width: 40%;
  text-align: center;
}

.reference-item span:first-child{
  width: 35%;
  padding-left: 5px;
}
.reference-item span:nth-child(2){
  width: 20%;
}
.reference-item span:nth-child(3){
  width: 15%;
}
.reference-item span:nth-child(4){
  width: 30%;
}
.reference-item--dept span,
.reference-item--emp span {
  margin:2px 3px;
  padding: 1px 7px;
  border-radius: 30px;
  background-color: #ffeaba;
  font-weight: 500 !important;
}
.reference-item--emp span{
  background-color: #d9ebf3;
}

.button-delete {
  padding-left: 10px;
}
.button-box {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-box__buttons{
  display: flex;
}

.button-box button.active,
.button-box .approval {
  background-color: #ffbb00;
  color: #000000;
  font-weight: 600;
}

.button-box button.last{
  font-weight: 600;
  color: #000000;
  background-color: #ffbb00;
  width: 80px;
  margin-right: 20px;
}

.first-employee .button-box .active,
.last-employee .button-box .active {
  background-color: #b9b9b9;
  color: #1f1f1f;
}
.approver-item,
.reference-item,
.reference-item--dept,
.reference-item--emp{
  display: grid;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding: 4px;
  width: 100%;
  height: 20px;
  grid-template-columns: 250px 100px;
}
.reference-item--dept,
.reference-item--emp {
  grid-template-columns: 1fr;
  height: auto;
  min-height: 20px;
}
.reference-item--dept i {
  color: #e3ac5b !important;
}
.reference-item--dept button,
.reference-item--emp button {
  background-color: #ffffff00;
  margin-left: 2px;
  padding: 0;
}
.reference-item--dept button>i,
.reference-item--emp button>i {
  color: #a80000 !important;
}
.reference-item--emp i {
  color: #6d8c99 !important; 
}
.approver-item__items{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.approver-item__items i {
  font-size: 10pt !important;
  padding-right: 3px;
}
.approver-item__default{
background-color: #5f5f5f;
}

/* Drag */

.dragging {
  opacity: 0.9;
}

.emp-index__drag__wrapper{
  text-align: center;
  margin-top: 30%;
}
.emp-item__drag{
  font-size: 9.5pt;
  font-weight: 400;
  text-align: center;
  color: #8a8a8a;
}
.emp-item__drag i {
  font-size: 12pt !important;
  margin-right: 5px;
}
.emp-item-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.emp-item-add-box {
  border: 1px dashed #b4b4b4;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 2px;
  margin-left: 6px;
}
.emp-item-add-box:hover {
  border: 1px dashed #000000;
}
.emp-item-add-box button {
  background-color: #00000000;
}
.emp-list__result span {
  font-size: 9.5pt;
  font-weight: 500;
}
.document-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: -1px;
  cursor: pointer;
}

.document-selector-wrapper .emp-item:hover{
  background-color: #f3f3f3;
}
.accordion-content{
  cursor: pointer;
}

.document-item:hover,
.accordion-header:hover,
.approver-item:hover{
  background-color: #f3f3f3;
}

.emp-list i{
  font-size: 15pt;
  color: #5f5f5f;
}
.emp-list__result i{
  font-size: 11pt;
  color: #5f5f5f;
}

.emp-item span{
  margin-left: 4px;
}
.document-item i {
  padding-left: 4px;
}
.document-item span{
  margin-left: 5px;
  line-height: 1.2rem;
}
.document-item.active{
  background-color: #ffc880;
  border-radius: 3px;
}
.document-item.active span {
  font-size: 11pt;
  font-weight: bolder;
}


/* font-size */
.emp-item,
.document-item{
  font-size: 10pt;
  line-height: 18px;
  font-weight: 500;
}
.accordion-header span{
  line-height: 20px;
  font-weight: 500;
  font-size: 10pt;
}
.accordion-header.search-result {
  background-color: #ecf1f7;
}
.accordion-header.search-result span {
  font-weight: 600 !important;
}
/* selectBox */

.emp-list__result-select{
  font-size: 10pt;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  width: 6rem;
  height: 25px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-right: 5px;
}
.emp-list__result-select__agr{
  font-size: 10pt;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  width: 7rem;
  height: 25px;
  font-family: 'Noto Sans KR', sans-serif;
}
option {
  font-size: 10pt;
}
.emp-list__result-select-wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.emp-list__result-select-wrapper__ref{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  justify-content: flex-end;
}

/* add-delete-wrapper */

.add-delete-wrapper{
  margin: 0px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.add-delete-wrapper button,
.emp-list-result__btn-wrapper button {
  border: none;
  margin: 2px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 500;
}
.control-button-group  {
  justify-content: flex-end;

}
.control-button-group button{
  margin-left: auto;
}

.add-delete-wrapper button:hover{
  background-color: #dbdbdb;
  transition: all 0.2s ease;
}

.add-delete-wrapper span{
  font-size: 7px;
  color: #383838;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
}

/* Emp-list-result__btn-wrapper */

.emp-list-result__btn-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
.emp-list-result__btn-wrapper button{
  font-size: 11pt;
  background-color: #1f5079;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 2px 10px 3px 10px;
}
.emp-list-result__btn-wrapper button:hover{
  background-color: #143652;
  transition: all 0.2s ease;
}


/* BUTTON GROUP */

.btn-group{
  display: flex;
  width: 58rem;
  margin: 20px 0px;
  justify-content: flex-end;
}
.btn-group i {
  font-weight: bold;
  padding-left: 5px
}
/* .btn-group :first-child {
  margin-right: auto;
  margin-left: 0;
} */
.btn-group button {
  margin-left: 7px;
}

/* 최종결재 의견란 */

.instruction-container{
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.instruction-container i {
  font-size: 15pt;
  font-weight: 600;
}
.instruction-box{
  display: flex;
  flex-direction: column;
  width: 95%;
}
.instruction-type{
  font-size: 12pt;
  font-weight: 600;
  margin-bottom: 20px;
}
.instruction__approver-title{
  display: flex;
  align-items: center;
}
.instruction-title{
  margin: 5px 5px;
  width: 100px;
  font-size: 11pt;
  letter-spacing: -1pt;
  font-weight: 500;
}
.textarea-box{
  align-items: flex-start;
}
.instruction-content{
  font-size: 10pt;
  width: 250px;
}
.instruction-container textarea {
  margin: 5px 0px;
  resize: none;
  border: 1px solid #bebebe;
  background-color: #ffffff;
  width: 275px;
  height: 200px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 10pt;
  white-space: pre-line;
}
.instruction__button-box{
  margin-top: 10px;
  margin-right: 5px;
  display: flex;
  margin-left: auto;
  flex-direction: row-reverse;
}
.instruction__button-box button {
  margin-left: 5px;
}
