hr {
  height: 2px;
  background-color: black;
  border: none;
}

li, ul {
  list-style: none;
}

.card input{
  height: 18px;
  font-size: 10pt;
}

input::placeholder {
  font-size: 10pt;
  color: #a7a7a7;
  transform-origin: left center;
  padding-left: 2px;
  overflow: visible;
}

input:focus{
  outline: 1px solid #aedaff;
  box-shadow: 0 0 3px #7ebbec;
  z-index: 999;
}
.approval-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.organizaion-selector-wrapper{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.organization-selector__input-wrapper,
.organization-selector__result-wrapper,
.document-selector-wrapper{
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
}
.organization-selector__result-wrapper{
  width: 400px;
}
.organization-selector__result-wrapper .card,
.document-selector-wrapper .card {
  flex: 1;
}

.organization-selector__input-wrapper input,
.document-selector-wrapper input{
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #e0e0e0;
  flex: 1;
}


/* card */

.card{
  width: 100%;
  height: auto;
  box-shadow: #4444442e 0px 5px 10px 2px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-header p{
  font-weight: 500;
  font-size: 12pt;
  line-height: 10px;
  margin: 0;
  padding: 0;
}

/* card-search */

.card-search{
  display: flex;
  flex-direction: row;
}

.card-search button,
.emp-list__undo-btn {
  border: none;
  border-radius: 0px 3px 3px 0px;
  background-color: rgb(209, 209, 209);
  width: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}
.card-search button:hover,
.emp-list__undo-btn:hover {
  background-color: rgb(209, 209, 209);
  transition: all 0.2s ease;
}
.card-search i {
  font-size: 10pt;
}

/* organization-list */

.organization-list{
  
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.organization-list i {
  color: #1f5079;
  font-size: 8pt
}

/* accordion  */

.accordion {
  margin-top: 10px;
  padding: 5px 5px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  height: 180px;
  font-size: 11pt;
  overflow-y: scroll;
}
.accordion-header{
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 20px;
}
.accordion-item{
  letter-spacing: -1px;
}
.accordion-header span {
  font-size: 14pt;
}
.accordion-header i{
  margin-right: 10px;
  font-size: 12pt;
  color: #1f5079;
}

.accordion-content {
  padding-left: 10px;
}


/* 아코디언 및 서브 아코디언 활성화 스타일 */
.active {
  display: block;
}
.depth2, .depth3, .depth4{
  padding-left: 5px;
}
.depth2 i {
  color: #3384c7;
}
.depth3 i {
  color: #92c4ec;
}
.depth4 i {
  color: #607485;
}





/* EMP list */

.emp-list,
.document-list,
.document-bookmark{
  padding: 5px 5px;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  height: 100px;
  font-size: 8pt;
  overflow-y: scroll;
}

/* Bookmark */

.document-bookmark {
  background-color: #f5f5f5;

}
.document-list{
  height: 180px;
}

.emp-list__result{
  padding: 10px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  height: 100%;
  font-size: 12pt;
  line-height: 13pt;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.emp-list__1,
.emp-list__agreement{
  display: flex;
  justify-content: center;
}

.emp-list__agreement{
  margin-top: 10px;
  margin-bottom: 15px;
}

.emp-list__result p {
  font-weight: 600;
  font-size: 12pt;
  background-color: #ececec;
  width: 80px;
  padding: 3px;
  margin: 10px;
}
.emp-list__undo-btn{
  font-size: 10pt;
  border-radius: 5px;
  font-weight: 900;
  width: 1.5rem;
  background-color: white;
  border: 1px solid rgb(155, 155, 155);
}

/* Emp Item */

.emp-item-wrapper{
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.emp-item-wrapper .emp-item {
  margin-top: 5px;
}
.emp-item,
.document-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: -1px;
  cursor: pointer;
}
.emp-item:hover,
.document-item:hover,
.accordion-header:hover{
  background-color: #f3f3f3;
}
.emp-list i ,
.emp-list__result i{
  font-size: 15pt;
  color: #5f5f5f;
}
.emp-list__result span {
  font-size: 11pt;
}
.emp-item span{
  margin-left: 8px;
}
.document-item span{
  margin-left: 8px;
}

/* font-size */
.emp-item,
.document-item,
.accordion-header span{
  font-size: 10.5pt;
  line-height: 20px;
  font-weight: 400;
}

/* selectBox */

.emp-list__result-select{
  font-size: 10pt;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  width: 30%;
}
option {
  font-size: 10pt;
}
.emp-list__result-select-wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px
}

/* add-delete-wrapper */

.add-delete-wrapper{
  margin: 0px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.add-delete-wrapper button,
.emp-list-result__btn-wrapper button {
  border: none;
  margin: 2px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 500;
}
.control-button-group  {
  display: flex;
}

.add-delete-wrapper button:hover{
  background-color: #dbdbdb;
  transition: all 0.2s ease;
}

.add-delete-wrapper span{
  font-size: 7px;
  color: #383838;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
}

/* Emp-list-result__btn-wrapper */

.emp-list-result__btn-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
.emp-list-result__btn-wrapper button{
  font-size: 11pt;
  background-color: #1f5079;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 2px 10px 3px 10px;
}
.emp-list-result__btn-wrapper button:hover{
  background-color: #143652;
  transition: all 0.2s ease;
}