/* Form */


th {
  font-size: 10pt;
  background-color: rgb(245, 245, 245);
}
.approval-wrapper td,
.approval-wrapper th{
  border: 1px solid #000;
}
.approval-wrapper td{
  font-size: 10pt;
}
.approval-wrapper p {
  margin: 0;
}

input:focus {
  outline: 1px solid #aedaff;
  box-shadow: 0 0 10px #7ebbec;
}

input[type="file"] {
  position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.input-box{
  padding: 0 !important;
}
.input-box input {
  height: 90%;
}

strong{
  font-size: 10pt;
}

button{
  cursor: pointer;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
  flex-direction: column;
}
footer p {
  font-size: 18pt;
  margin-top: 40px;
}




.border {
  border: 1px solid black;
}

/* approval-wrapper */
.approval-wrapper{
  display: flex;
  width: 50rem;
  /* border: 2px solid black; */
  justify-content: center;
}

/* A4 SIZE */

.approval-wrapper {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1.5cm 1.5cm 2cm 1.5cm;
  border: 2px solid #000;
}

.approval-wrapper form {
  border: 1px solid #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Header */

.header-logo{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.header-logo img {
  width: 150px;
}

.header-box__wrapper{
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-bottom: 15px;
}
.header__left{
  width: 49%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.header__left__common{
  width: 49%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.header__left h1{
  font-size: 25pt;
  word-spacing: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header__right{
  display: flex;
  align-items: stretch;
  width: 49%;
  justify-content: flex-end;
}
.header-table,
.header-info {
  border: 1px solid #000;
  width: 100%;
  border-collapse: collapse;
}

.header-info{
  height: 140px;
}
.header-info td {
  font-weight: 600;
  padding: 0px 10px;
}
.header-info p {
  text-align: center;
}
.header-table__common{
  border: 1px solid #000;
  width: 100%;
  border-collapse: collapse;
  height: 100%;
}
.header-table__approval-th{
  width: 140px;
  height: 30px;
  border: 1px solid black;
}
.header-table__approval-td{
  width: 70%;
}
/* Body Table */
.body-table{
  width: 94%;
  height: 150px;
}
.body-table th{
  height: 25px;
}
.body-table td{
  height: 22px;
  text-align: center;
}
.body-table__300{
  width: 35%;
}
.body-table__150{
  width: 15%;
}
.body_table__100{
  width: 10%;
}
.body-table__input{
  height: inherit;
  width: -webkit-fill-available;
  border: none;
  padding: 0;
}

.approver-content,
.agreement-content {
  height: 35%;
  text-align: center;
  font-size: 12pt !important;
  letter-spacing: -1pt;
  font-weight: bolder;
}

/* Text Table */

.text-wrapper{
  padding: 20px 20px;
}
.text-wrapper div{
  margin-top: 10px;
}
.text-table td {
  border: none;
}

.text-wrapper strong{
  margin-bottom: 20px;
}
.text-wrapper p {
  font-size: 9pt;
  margin: 2px 0px;
}

.date_wrapper{
  margin: 30px 0px;
  text-align: center;
  word-spacing: 15px;
}
.first-paragraph{
  margin-top: 8px !important;
}
.second-paragraph{
  margin-top: 10px;
}

.date_wrapper p {
  margin: 15px 20px;
  font-size: 12pt;
  text-decoration: underline;
  word-spacing: 100px;
  text-align: right;
}

.attachment-warpper{
  margin: 100px 0px;
  display: flex;
}

.attachment-warpper p {
  font-size: 9pt;
  padding-left: 5px;
}

.footer{
  text-align: right;
  margin-top: 40px !important;
}

.footer-text{
  display: flex;
    align-items: center;
    justify-content: center;
}

.second-paragraph{
  padding-top: 20px;
  padding-bottom: 40px;
}


/* approval Create */
.approval-create-wrapper{
  display: flex;
  flex-direction: column;
  width: 960px;
  padding: 10px;
  margin: 0 auto;
}
.approval__document-type{
  margin-top: 45px;
  margin-right: 35px;
  margin-bottom: 35px;
  margin-left: 35px;
  border: 1px solid #919191;
  padding: 10px;
  border-radius: 10px;
}
.approval__document{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

/* approval Attachment */
.approval-attachment{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}
.file-info{
  width: 20rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a0a0a0;
  position: absolute;
}
.approval-attachment p {
  font-size: 10pt;
  display: inline-block;
}
.approval-attachment-item{
  border: 1px solid #c9c5c5;
  border-radius: 3px;
  width: 100%;
  min-height: 100px;
  height: auto;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.approval-attachment-item label {
  display: inline-block;
  color: #a0a0a0;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 3px;
  border-radius: 3px;
  font-size: 11pt;
  text-decoration: underline;
  font-weight: bold;
}
.approval-attachment-item input {
  font-size: 10pt;
  border: none;
}
.file-edit{
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
}
.file-edit i {
  padding-left: 8px;
  font-size: 11pt;
}
.file-list{
  display: flex;
  flex: 1;
  border-radius: 5px;
  padding: 0px 10px;
  display: none;
}
.file-list.active{
  display: block;
}
.file-list p {
  font-size: 10pt;
  margin: 0;
}
.file-list ul {
  margin: 0;
  padding: 0;
  font-size: 10pt;
}
.file-list li {
  font-size: 9pt;
  display: flex;
  line-height: 1.5rem;
  text-decoration: underline;
}
.file-list span {
  display: flex;
}
.file-list i {
  font-size: 12pt;
  color: #757575;
  margin-left: 5px;
}
.file-list button{
  background-color: #fff;
  display: flex;
  align-items: center;
}
/* button-wrapper */

.button-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.button-wrapper button {
  font-size: 12pt;
  background-color: #1f5079;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 2px 10px 3px 10px;
  border: none;
  margin: 5px;
  border-radius: 3px;
}

.button-wrapper .cancle-button{
  background-color: #e00f00;
}

.button-wrapper .button-gray{
  background-color: #838383;
}

.button-wrapper button:hover{
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s ease;
}
  
