.btn {
  border-radius: 5px;
  font-weight: bold;
  padding: 3px 10px 3px 10px;
  font-family: "Noto Sans KR", sans-serif;
}
.btn:hover{
  background-color: #00000020;
  transition: all 0.3s ease; 
}
.btn-border{
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  color: #383838;
}

.btn-border-black{
  background-color: #ffffff;
  border: 1px solid #686868;
  color: #383838;
}

.btn-red {
  background-color: #da0000;
  color: white;
  font-weight: 500;
}
.btn-red-light {
  background-color: #ffecec;
  outline: 1px solid #fda0a5;
  border-radius: 3px;
  color: #ce0000;
}
.btn-red-light:hover{
  background-color: #ffd6d6;
  transition: all 0.3s ease; 
}

.btn-red:hover{
  background-color: rgb(179, 0, 0);
  transition: all 0.3s ease; 
}
.btn-red-line{
  border: 1px solid #da0000;
  transition: all 0.3s ease; 
  background-color: #ffffff;
  color: #da0000;
  padding: 2px 9px 2px 9px;
}
.btn-red-line:hover {
  background-color: #da0000;
  color: #ffffff;
}
.btn-yellow{
  background-color: #ffb820;
  color: white;
  font-weight: 700;
}
.btn-yellow:hover{
  background-color: #ebaa20;
  transition: all 0.3s ease; 
}
.btn-yellow-line{
  border: 1px solid #ffb820;
  transition: all 0.3s ease; 
  background-color: #ffffff;
  color: #ecaa1b;
  padding: 2px 9px 2px 9px;
}
.btn-secondary-blue{
  background-color: #2B3499;
  color: white;
  font-weight: 500;
}
.btn-secondary-blue:hover{
  background-color: #212875;
  transition: all 0.3s ease; 
}
.btn-secondary-blue-line {
  border: 1px solid #262e8f;
  transition: all 0.3s ease; 
  background-color: #ffffff;
  color: #2B3499;
  padding: 2px 9px 2px 9px;
}

.btn-primary { 
  background-color: #ff9900; 
  color: #ffffff; 
}
.btn-create {
  padding: 3px 15px;
  font-size: 12pt;
}

.btn-primary:hover { 
  background-color: #e08702;
  transition: all 0.3s ease;
}

.btn-secondary-line { 
  border: 1px solid #99743D;
  color: #99743D;
  transition: all 0.3s ease; 
  background-color: #ffffff;
  padding: 2px 9px 2px 9px;
}


.btn-secondary {
  background-color: #2B3499;
  color: #ffffff;
  font-weight: 500;
}
.btn-secondary-light{
  background-color: #f0f1ff;
  outline: 1px solid #a0a8fd;
  border-radius: 3px;
}
.btn-secondary-light:hover{
  background-color: #e4e4f1;
  transition: all 0.3s ease;
}
.btn-gray{
  background-color: #555555;
  color: #ffffff;
  font-weight: 500;
}
.btn-gray:hover{
  background-color: #414141;
  transition: all 0.3s ease;
}
.btn-light-gray{
  background-color: #9c9c9c;
  color: #ffffff;
  font-weight: 500;
}
.btn-light-gray:hover {
  background-color: #808080;
  transition: all 0.3s ease;
}
.btn-secondary:hover{ background-color: #151c64; transition: all 0.3s ease;}
.primary{
  background-color: #ff9900;
}


.btn-blue {
  background-color: #3979AA;
  color: white;
  font-weight: 500;
}
/* #332F29 */

.btn-darken-2 { background-color: #CC8B29; color: #ffffff; font-weight: 500; }
.btn-darken-4 { background-color: #66563D; color: #ffffff; font-weight: 500; }
.btn-darken-5 { background-color: #332F29; color: #ffffff; font-weight: 500; }
.btn-darken-4:hover { background-color: #4d412e; transition: all 0.5s ease; }
.btn-darken-5:hover { background-color: #141311; transition: all 0.5s ease; }
.btn-skyblue { background-color: #1a74be; color: white; }
.btn-green-line {
  border: 1px solid #008a00;
  color: #008a00;
  background: #ffffff;
}
.btn-green {
  background-color: #008a00;
  font-weight: 500;
}
.btn-green:hover{
  background-color: #2c9c5f;
  transition: all 0.5s ease;
}

.btn-blue-line {
  border: 1px solid #1f5079;
  color: #1f5079;
  background: #ffffff;
}
.btn-blue-line:hover{
  background: #e7e7e7;
  transition: all 0.3s ease; 
}

.btn-blue:hover{
  background-color: #143652;
  transition: all 0.3s ease; 
}

/* badge */
.status-badge {
  width: 100px;
  font-weight: 800;
  font-size: 9.5pt;
  padding: 3px 0px;
  border-radius: 3px;
  letter-spacing: 0pt;
}
.badge {
  border-radius: 50%;
  width: 20px;
  height: 0px;
}

.badge-primary {
  background-color: #ff9900;
}
.badge-secondary {
  background-color: #3979AA;
}
.badge-accent-2 {
  background-color: #e94c7d;
  color: #ffffff;
}
.badge-temp {
  background-color: #c9c9c9;
  color: #ffffff;
  font-weight: 500;
}

.badge-denger{
/*   background-color: #e94c4c;
  color: #ffffff; */
  background-color: #f5d6d6;
  color: #d43131;
}
.badge-accent{
  background-color: #2B3499;
  color: #ffffff;
}

.badge-info{
/*   background-color: #3979AA;
  color: #ffffff; */
  background-color: #cee0ee;
  color: #236aa0;
}
.badge-success,
.btn-green{
  background-color: #c8f1e3;
  color: #1aa771;
}
.btn-green{
  background-color: #1fa571;
  color: #ffffff;
}

.badge-warning{
/*   background-color: #ffb820;
  color: #ffffff; */
  background-color: #f7e6c6;
  color: #e0a119;
}


/* alert */
.alert-info{
  background-color: #3981aad3;
}
.alert-success{
  background-color: #32b45ed3;
}
.alert-fail{
  background-color: #e42e21e7;
}
.alert-warning{
  background-color: #ffae00d3;
}