/* MAIN COLOR */
.MAINCOLOR{
  /* main */
  color: #ff9900;
  /* hover */
  color: #ffc880;
  /*  */
  color: #CC8B29;
  color: #99743D;
  color: #66563D;
  color: #332F29;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
}
.form-wrapper{
  padding: 20px;
  border: 1px solid black;
}



a:hover,
a:visited,
a:link{
  text-decoration: none;
  color: rgb(253, 253, 253);
}
a.active{
  font-weight: 900;
}
a:hover {
  color: #ff9900;
}
a {
  text-decoration: none;
}

li ul {
  list-style: none;
}
html {
  max-width: initial;
  height: auto;
  font-family: "Noto Sans KR", sans-serif;
}
select,input{
  font-family: "Noto Sans KR", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: 1px solid #aedaff;
  box-shadow: 0 0 10px #7ebbec;
}
textarea:focus {
  outline: 1px solid #aedaff;
  box-shadow: 0 0 10px #7ebbec;
}
input {
  height: 1.8rem;
  background-color: #ffffff00;
  padding: 4px;
}

textarea {
  height: 1.8rem;
  background-color: rgb(245, 245, 245);
  padding: 4px;
}
button {
  border: none;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}

i[name]:hover::after {
  content: attr(title);
  background-color: #000000;
}


/* 크기 */

.col-1 {
  width: 20px;
}
.col-2 {
  width: 40px !important;
}
.col-3 {
  width: 60px !important;
}
.col-4 {
  width: 80px !important;
}
.col-5 {
  width: 100px !important;
}
.col-6 {
  width: 120px !important;
}
.col-7 {
  width: 140px !important;
}
.col-8{
  width: 160px !important;
}

.border {
  border: 1px solid black;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.test{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 45px;     /* header height */
  height: 100%;
}

.v-img__img--contain {
  object-fit: cover !important;
}

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

#app {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
.index-wrapper {
  display: flex;
  margin-left: 13rem;
  height: 100%;
  flex-direction: column;
}
.index-wrapper.active.sub-bar {
  display: flex;
  margin-left: 13rem;
  height: 100%;
}
.index-wrapper.active {
  margin-left: 3.5rem;
}
.index-wrapper.sub-bar{
  margin-left: 22rem;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .index-wrapper {
    display: flex;
    height: 100%;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .index-wrapper {
    display: flex;
    height: 100%;
    margin-left: 4rem;
  }
}

.index-box {
  font-family: "Noto Sans KR", sans-serif;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 20px 20px 20px;
  align-items: center;
}


/* Header */

.header {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 0px 20px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  align-items: center;
  box-shadow: #9a9a9a2e 0px 0px 10px 2px;
  height: 45px;
  box-sizing: border-box;
}

.header img {
  width: 35px;
}
.header .router-link-exact-active {
  color: #35495e;
}



.sidebar-right span {
  color: black;
}
.sidebar-right i {
  font-size: 1.5rem;
  color: #35495e;
  padding-bottom: 10px;
  margin-top: 7px;
  padding: 0px 5px;
}
.sidebar-right-router {
  margin: 0px 10px;
}

.sidebar-right i:hover {
  color: black;
  transform: scale(1.05);
  transition: all 0.1s;
}
.margin-left {
  display: flex;
  align-items: center;
}
.toolbar-menus {
  display: flex;
  list-style: none;
  text-align: center;
  color: #35495e;
  text-decoration: none;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

.underline a {
  letter-spacing: -0.5pt;
  width: 80px;
  font-family: "Noto Sans KR", sans-serif;
  color: #5c6f80;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}
.underline a:hover {
  color: black;
  transition: 1s;
}
.underline a:after {
  display: block;
  content: "";
  border-bottom: solid 5px rgb(36, 163, 104);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.underline a:hover:after {
  transform: scaleX(1);
}

.toolbar-dropdown a:hover {
  text-decoration: none;
  background-color: rgb(232, 232, 236);
  border-bottom: none;
}
.my-page {
  position: absolute;
  padding: 0;
  background-color: rgb(249, 249, 255);
  width: 80px;
  right: 0%;
  line-height: 2.2rem;
  display: none;
}
.my-page a {
  justify-content: flex-start;
}
.padding-0 {
  padding: 0;
}
.header-logo {
  display: flex;
  cursor: pointer;
}
.header-logo img {
  width: 170px;
}
.header-logo > ul > li {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header-logo > ul > li > ul {
  position: absolute;
  font-size: 14px;
  background-color: rgb(249, 249, 255);
  text-align: center;
  display: none;
  height: auto;
  line-height: 2.2rem;
  width: 80px;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border-radius: 5px;
  top: 50px;
  position: absolute;
}
.header-logo .media-1200 {
  display: none;
  width: 35px;
}
.header-logo > ul > li:hover > ul {
  display: flex;
}
.toolbar-menu:hover > ul {
  display: block;
}
.toolbar-dropdown .my-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-page > li {
  width: 5rem;
  display: flex;
  align-items: center;
}
.header-logo > ul > li > ul > li {
  width: 100%;
}

.toolbar-dropdown a {
  font-size: 10pt;
  display: flex;
  width: 5rem;
  justify-content: center;
  height: 35px;
}

.sidebar-right .fa-circle-question {
  font-size: 19pt;
  padding-top: 2px;
}
.fa-house{
  font-size: 1.4rem !important;
}

.full-screen{
  width: 10px;
}



@media all and (max-width: 1023px) {
  .margin-right {
    margin-top: 0;
  }
  .toolbar-menus a {
    width: 60px;
    color: #5c6f80;
    font-weight: 700;
  }
  .header-logo > ul > li > ul {
    width: 60px;
    line-height: 2rem;
    font-weight: 500;
  }
  .media-1200 {
    display: block !important;
    
  }
  .md-1023{
    display: none;
  }
  .header{
    padding: 0px 10px;
  }

}


/* SideToolBar */
.side-bar-wrapper {
  background-color: #ff9800;
  /* width: calc(12rem + 32px); */
  width: 13rem;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: fixed;
  transition: 0.3s ease-out;
}
.side-bar-container button {
  border: none;
  background-color: #ff9800;
  padding: 10px 15px;
  cursor: pointer;
}


.side-bar-container {
  color: #131313;
}
.side-bar-1200 {
  display: flex;
  flex-direction: column;
  margin-top: -2.5rem;
}
.fa-bars {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.side-bar-menus {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0.5rem;
}
.side-bar-menus i:hover {
  color: #303030;
  font-weight: 900;
}
.side-bar-container h3{
  line-height: 1rem;
}
.side-bar-container p {
  color: #ffffff;
  font-weight: 400;
  font-size: 10pt;
  margin: none;
  line-height: 1.5rem;
}
.side-bar-profile {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  height: 50px;
}
.side-bar-profile h3 {
  margin: 0;
}
.side-bar-profile span:first-child {
  margin-right: 5px;
}
.side-bar-profile-wrapper {
  background-color: rgba(255, 255, 255, 0.925);
  width: 9rem;
  height: 9rem;
  border-radius: 0px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}
.side-bar-profile-wrapper i {
  font-size: 110pt;
  text-align: center;
  color: #e78383;
}

.side-bar-profile-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.side-bar-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar-container ul {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 160px;
}
.side-bar-container ul li {
  list-style: none;
  font-size: 14pt;
  letter-spacing: -1pt;
  line-height: 2.5rem;
  font-weight: 600;
  color: #1b1b1b;
  display: flex;
  align-items: center;
}
.side-bar-wrapper ul li i {
  padding-right: 2.5rem;
  color: white;
  font-size: 1.5rem;
  margin-right: auto;
  width: 1rem;
}

.fa-paper-plane {
  font-size: 1.2rem;
}

.side-bar-list-wrapper a {
  text-decoration: none;
  color: #1b1b1b;
  display: flex;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.side-bar-list-wrapper a:hover, a.active {
  color: #ffffff;
  transition: 0.2s;
}
/* Active Side Toolbar */

.side-bar-wrapper.active {
  display: flex;
  width: 3.5rem;
  height: 100%;
  border-radius: 0px 20px 0px 0px;
  align-items: center;
}

.side-bar-container.active{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}
.menu-icon.active {
  width: 100%;
}
.menu-icon.active li{
  width: 25px;
  line-height: 2.5;
  padding-bottom: 20px;
} 

.side-bar-1200.active {
  display: none;
}
.side-bar-list-wrapper.active{
  display: flex;
  height: 100%;
}
.side-bar-list-wrapper.active span {
  display: none;
  height: 100%;
}
.side-bar-list-wrapper.active i:hover {
  color: #303030;
  font-weight: 900;
}

/* mini SideBar */

@media all and (min-width: 480px) and (max-width: 1023px) {
  .side-bar-wrapper {
    display: flex;
    width: 3.5rem;
    height: 100%;
    border-radius: 0px 20px 0px 0px;
    align-items: center;
  }
  .side-bar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
  }
  .menu-icon li{
    width : 25px;
    line-height: 2.5;
    padding-bottom: 20px;
  }
  .side-bar-wrapper ul{
    width: 100%;
  }

  .side-bar-1200 {
    display: none;
  }
  .side-bar-list-wrapper span {
    display: none;
  }
  .side-bar-list-wrapper i:hover {
    color: #1d1d1d;
    font-weight: 900;
  }
  
  .side-bar-list-wrapper {
    height: 100%;
  }
}

/* SubToolBar */

.sub-toolbar-wrapper{
  width: 9rem;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: fixed;
  transition: 0.3s ease-out;
  margin-left: 13rem;
  border-right: 1px solid rgb(209, 209, 209);
}


.sub-toolbar-wrapper h3{
  padding: 5px 0px;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.sub-toolbar-menu-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 10px;
}

.sub-toolbar-menu-box{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sub-toolbar-menu-box button {
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 500;
  width: 90%;
}
.sub-toolbar-menu-box strong {
  font-size: 11pt;
  margin-left: 10px;
}
.sub-toolbar-menu-box ul,
.sub-toolbar-menu-box ul ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  /* margin-top: 5px; */
  padding: 0px;
  font-size: 11pt;
  line-height: 1.7rem;
  letter-spacing: -1px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}
.sub-toolbar-menu-box > ul {
  margin-top: 5px;
}
.sub-toolbar-menu-box li{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.sub-toolbar-menu-box ul ul li a.active {
  font-size: 10pt;
  background-color: #ffffff;
}
.sub-toolbar-menu-box ul ul li a {
  font-size: 10pt;
}
.sub-toolbar-menu-box ul li a span:nth-child(2) {
  padding-left: 0rem;
}
.submenu-sub-title{
  padding-left: 10px !important;
  font-size: 10pt !important;
}

.sub-toolbar-menu-box ul ul li i {
  color: #000000;
  font-size: 7pt;
  padding: 0;
  margin-right: 0;
  width: 5px;
}
.sub-toolbar-menu-box li a {
  color: #000000;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.sub-toolbar-menu-box a:hover,
.sub-toolbar-menu-box ul ul li a:hover {
  background-color: #eceff3;
  border-radius: 10px;
}
.sub-toolbar-menu-box li a.active{
  background-color: #ffc880;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}
/* .sub-toolbar-menu-box span {
  font-size: 10.5pt;
  font-weight: 500;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.sub-toolbar-menu-box > ul:first-of-type span {
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.sub-toolbar-menu-box li a.active span {
  font-size: 10.5pt;
  font-weight: 800;
}

/* Badge */

.badge-count-box {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}
.badge-item{
  font-size: 8pt !important;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #FFC107;
  color: #ffffff;
  font-family: auto;
}
.badge-item.main {
  margin-left: 10px;
  background-color: #ff4a4a;
  padding: 0px 2px 0px 0px;
  font-size: 9pt !important;
  font-weight: 700;
}
.badge-item.sub{
  font-weight: 900 !important;
  font-size: 8pt !important;
  color: #2b2b2b;
  background-color: #ffffff00;
  padding-left: 0 !important;
  height: 17px;
  width: 17px;
}
.badge-item.sub.pending {
  background-color: #ff9900;
  color: #ffffff;
  margin-left: -2rem;
  width: 15px;
  height: 15px;
}
.badge-item.none{
  display: none;
}

@media all and (min-width: 480px) and (max-width: 1023px) {
  .sub-toolbar-wrapper{
    margin-left: 12.5rem !important;
  }
}



/* Board Title */

.board-title {
  font-family: "Noto Sans KR", sans-serif;
  padding: 10px 15px;
}

.board-title p {
  line-height: 0px;
}

.board-wrapper {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;
}
.button-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.table-board {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}
.table-board th {
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding: 3px 3px;
  font-size: 10pt;
  font-weight: 500;
  cursor: pointer;
}
.table-board th:first-child {
  cursor: default;
}
.table-board td {
  font-size: 10pt;
  font-weight: 400;
  padding: 1px 0px;
  line-height: 20px;
}
.table-title-header{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.table-board .fa-sort-down {
  font-size: 10pt;
  margin-left: 3px;
  margin-bottom: 3px;
}
.table-board .fa-sort-up {
  font-size: 10pt;
  margin-left: 3px;
  margin-top: 6px;
}
.table-hover td div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-not-exist td{
  font-size: 10pt;
  font-weight: 400;
  height: 300px;
}
.table-hover:hover {
  background-color: rgb(245, 245, 245);
}
.table-hover a {
  color: #000000;
}

/* Approval Page */
.approval-page-wrapper th:first-child{  /* 구분 */
  width: 5%;
}
.approval-page-wrapper th:nth-child(2){ /* 문서번호 */
  width: 10%;
}
.approval-page-wrapper th:nth-child(3){ /* 문서명 */
  width: 35%;
  text-align: left;
}
.approval-page-wrapper th:nth-child(4){ /* 문서종류 */
  width: 8%;
}
.approval-page-wrapper th:nth-child(5){ /* 기안부서 */
  width: 10%;
}
.approval-page-wrapper th:nth-child(6){
  width: 8%;
}
.approval-page-wrapper th:nth-child(7){
  width: 8%;
}
.approval-page-wrapper th:nth-child(8){
  width: 8%;
}
.approval-page-wrapper th:nth-child(9){
  width: 8%;
}
.approval-page-wrapper {
  cursor: context-menu;
}
.approval-list-title {
  font-weight: 400;
  cursor: pointer;
  text-align: left;
}

.approval-page-wrapper td:nth-child(3){
  text-align: left;
}

/* button style */
.search-btn {
  background-color: #607d8b;
  color: white;
  width: 1.5rem;
  border-radius: 3px;
  padding: 2px 5px;
  border: none;
}
.write-btn {
  background-color: white;
  border: 1px solid #aeaeae;
  padding: 3px 15px;
  font-size: 12pt;
}
.write-btn:hover{
  background-color: #f3f3f3;
  transition: all 0.2s ease;
}

.btn-check {
  background-color: #607d8b;
  font-family: "Noto Sans KR", sans-serif;
  padding: 5px 15px 7px 15px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 13pt;
  color: white;
}
.btn-write {
  background-color: #263238;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 9pt;
  color: white;
}

.btn-write:hover {
  background-color: #97a7ac52;
  transition: 0.2s;
  color: #000000;
  font-weight: 500;
}
.btn-success {
  background-color: #97a7ac52;
  transition: 0.2s;
  color: #000000;
  font-weight: bolder;
}

.btn-outline-yellow {
  border: 1px solid #ff9900;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 9pt;
  color: rgb(0, 0, 0);
}

.btn-outline-yellow:hover {
  background-color: #97a7ac52;
  transition: 0.2s;
  color: #000000;
  font-weight: 500;
  border: 1px solid rgb(0, 0, 0);
}


/* box-shawdow */
.box-shadow {
  box-shadow: 7px 7px 7px 7px rgb(238, 238, 238);
}

/* card */
.card {
  display: flex;
  margin: 0 auto;
  width: 30rem;
  height: 18rem;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
}

/* 검색창 */


.board-search-wrapper label {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  font-weight: 400;
}

.datepicker-searchbox__wrapper {
  display: flex;
  align-items: center;
}
.datepicker-searchbox__wrapper>span{
  padding: 0px 10px;
}
.datepicker-searchbox__wrapper input {
  width: 5rem !important;
  font-weight: 400 !important;
}

/* selectBox 커스텀 */
.v-input--density-compact {
  --v-input-padding-top: 18px;
}
.select-box{
  display: flex;
  position: relative;
  width: 5rem;
  height: 25px; /* option top이랑 항상 같게 */
  border: 1px solid #d3d3d3;
  flex-direction: column;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 500;

}

.select-box.col-8 ul{
  width: 155px;
  height: 300px;
  overflow-y: scroll;
  z-index: 5;
  }
  
.select-box.col-7 ul li {
  font-size: 8.5pt !important;
  line-height: 1rem;
}
.select-box label {
  width: auto;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 9pt;
  font-weight: 500;
}
.setData{
    outline: 1px solid #aedaff;
  box-shadow: 0 0 10px #7ebbec;
}
.select-box i {
  font-size: 10pt;
  border-radius: 3px;
}

.select-box ul{
  width: 4.8rem;
}
.select-box ul,
.select-box li {
  padding: 2px 1px;
  margin: 0;
}

.select-box li {
  padding: 0px 10px;
  line-height: 1.1rem;
  font-size: 9pt;
}
.select-box li:hover {
  background-color: #eceff3;
  transition: 0.1s all ease-out ;
  border-radius: 5px;
}

.options {
  display: none;
  position: absolute;
  width: 4.6rem;
  z-index: 1;
  background-color: #ffffff;
  top:25px;
  border: 1px solid #d3d3d3;
}
.options li.active {
  background-color: #ffc880;
  border-radius: 5px;
  font-weight: 600;
}

.options.show{
  display: block;
}

/* Boart Title */

.board-title hr {
  height: 1px;
  background-color: #bcbcbc;
  border: none;
}

/* Search Form */
.board-search-wrapper {
  width: 100%;
  height: 4rem;
  display: flex;
  font-size: 10pt;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 20px;
  margin-bottom: 20px;
}
.board-search{
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #e4e4e4;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 300px;
}
.board-search-tag {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .board-search{
    height: 100px;
    justify-content: space-around;
  }
  .board-search-tag {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
  }
}



.board-search-wrapper input{
  border: 1px solid #d3d3d3;
  width: 50px;
  height: 1.5rem;
  border-radius: 3px;
  font-weight: 100;
  width: 4.5rem;
  padding: 0px 5px;
  font-size: 9pt;
  font-weight: 500;
}

.board-search-wrapper input::placeholder {
  color: #5e5e5e;
  font-weight: 500;
  font-size: 9pt;
}

.board-search-wrapper label {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  word-break: keep-all;
}

/* Modal */

.modal{
  box-shadow: #4444442e 0px 0px 10px 2px;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__overlay{
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  position: absolute;
}
.modal__content{
  background-color: white;
  position: relative;
  padding: 50px 50px;
  text-align: center;
  width: 50%;
  height: 100px;
  top: 0;
  left: 0;
  box-shadow: #4444442e 0px 0px 20px 2px;
  border-radius: 5px;
}

.hidden{
  display: none;
}

/* Not Found Page */

.notFound-page {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: white;
}
.notFound-page-container {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.notFound-page-container a{
  color: gray;
}

.notFound-404 {
  font-size: 10rem;
  line-height: 10rem;
  font-weight: bolder;
  color: cadetblue;
}
.notFound-text {
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(77, 77, 77);
  display: block;
  line-height: 5rem;
}
.notFound-page p {
  font-size: 1.5rem;
}
.notFound-kor {
  font-size: 1.3rem;
}
.notFound-routers {
  display: block;
  color: black;
  border: 2px dashed black;
  border-radius: 5px;
  width: 180px;
  margin: 0 auto;
  text-decoration: none;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  transform: translate(0%, 90%);
  padding: 5px 5px;
}
.notFound-routers:hover {
  border: 2px dotted rgb(255, 145, 0);
  transition: 0.5s;
}

/* Pagenation */

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.pagination button{
  margin: 0px 5px;
  border-radius: 50%;
  font-size: 12pt;
  background-color: #ffffff;
}
.pagination button:hover{
  background-color: #eceff3
}

.pagination .page {
  color: #000000;
  padding: 1px 10px 3px 10px;
}
.pagination .page.active {
  color: #000000;
  background-color: #ffc56d;
  padding: 1px 10px 3px 10px;
  font-weight: 800;
}
.pagination .previous,
.pagination .next {
  color: #000000;
  margin: 0px 10px;
}

/* Page Size */
.page-size-wrapper{
  display: flex;
  margin-left: auto;
  flex-direction: column;
}
.page-size-wrapper select {
  width: 100%;
  height: 1.5rem;
  border-color: #c7c7c7;
  border-radius: 3px;
  padding: 0px 5px;
  font-weight: 500;
  font-size: 8pt;
}

.page-size-wrapper option {
  font-size: 8pt;
  background-color: #ffffff;
}
