.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form input {
  background-color: rgb(242 244 255);
}
.wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 8fr 3fr;
  grid-template-rows: auto;
  position: relative;
  overflow: hidden;
}
.login-wrapper{
  font-weight: bolder;
  background-color: rgb(249, 249, 255);
  width: 100%;
  min-width: 30rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-selectBox {
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  margin: 0.3rem;
}
.lang-select{
  border: 1px solid #dadada;
  font-family: "Noto Sans KR", sans-serif;
  border-radius: 5px;
  box-shadow: none;
  background-color: transparent;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 15px 10px;
  padding: 2px 10px;
  color: #8b8b8b;
  font-size: 9pt;
  height: 1.5rem;
}

.lang-select:focus{
  border: 1px solid #dadada;
}
.bar{
  width: 5px;
  height: 20px;
  margin-right: 0.5rem;
  background-color: #ff9900;
  display:inline-block;
}
.account-box input{
  height: 1.8rem;
  border: 1px solid gainsboro;
  width: 20rem;
  padding: 5px;
  padding-left: 10px;
  font-size: 11pt;
  border-radius: 3px;
  margin-top: 10px;
}
.account-box input::placeholder{
  color: rgb(170, 170, 170);
}
.outline{
  width: fit-content;
}
.login-btn{
  border: none;
  background-color: rgb(0, 66, 141);
  color: white;
  width: 22rem;
  height: 50px;
  border-radius: 5px;
  font-size: 18pt;
  font-weight: 500;
  transition: 0.5s all ease;
  line-height: 45px;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.555),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  display: inline-block;
  outline: none;
  margin: 1rem 0rem;
}
.login-btn span{
  /* position: relative; */
  display: block;
  width: 100%;
  height: 100%;
}
.login-btn span::before,
.login-btn span::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
}
.login-btn span:before {
  width: 2px;
  height: 0%;
}
.login-btn span:after {
  width: 0%;
  height: 2px;
}
.login-btn span:hover:before {
  height: 100%;
}
.login-btn span:hover:after {
  width: 100%;
}
.login-btn:hover{
  background-color: rgb(0, 27, 58);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.login-main-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.login-main-wrapper img {
  height: 100%;
  width: 100%;
}

.login-box{
  width: fit-content;
  font-size: 19pt;
}
.login-box h2{
  font-size: 3.5rem;
  color: #19197A;
  font-weight: bolder;
  letter-spacing: -1px;
}
.login-box span{
  letter-spacing: -1pt;
  color: #19197A;
}
.login-info-wrapper{
  display: flex;
  flex-direction: column;
  width: 25rem;
  align-items: center;
}
.account-box{
  margin: 20px 0px;
}
.login-wrapper-img {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.login-wrapper-img img{
  width: 150px;
}
.forgot-pw-btn{
  border: none;
  background-color: transparent;
  display: block;
  margin-top: 15px;
  cursor: pointer;
  color: #0e009b;
  font-size: 10pt;
}
.remember-me-label{
  font-size: 9pt;
  font-weight: 100;
  vertical-align: middle;
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.remember-me-input{
  width: 15px;
  padding-right: 0.5rem;
  margin: 0;
}
.login-btn-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/* LOGIN FORM */

.login-box {
  display: flex;
  flex-direction: column;
}

.login-btn-box span {
  color: white;
}

.remember-me {
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
}

.remember-me-input {
  height: 15px;
}

.logMessage{
  color: rgb(235, 23, 23);
  font-weight: 600;
  font-size: 11pt;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}



/* MEDIA QUERY */

/* 테블릿 가로 */

@media all and (min-width: 768px) and (max-width: 1023px){
  .login-wrapper {  }
  .login-main-wrapper{ display: none; }
  .wrapper { display: inline-block; }

}
/* 모바일 가로 / 테블릿 세로 */

@media all and (min-width: 480px) and (max-width: 767px){

  .login-wrapper {
    width: 100%;
    height: 100%;
    min-width: auto;
  }
  .login-main-wrapper{
    display: none;
  }
  .wrapper {
    display: inline-block;
  }


}

@media all and (max-width:479px) {
  .wrapper {
    display: flex;
  }
  .bar{
    width: 4px;
    height: 1rem;
  }
  .login-wrapper {
    width: 100%;
    height: 100%;
    min-width: auto;
  }
  .account-box {
    margin: 10px 0px;
  }
  .account-box input {
    width: 15rem;
    height: 1.3rem;
  }
  .login-btn-box .login-btn {
    width: 16rem;
    height: 3rem;
    margin: 3px 0px;
    display: flex;
  }
  .login-btn-box .forgot-pw-btn{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
  }
  .login-box span{
    font-size: 1.3rem;
  }
  .login-box h2 {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2.7rem;
    text-align: center;
  }
  .login-main-wrapper{
    display: none;
  }
  .login-wrapper-img{
    min-height: 6rem;
    display: flex;
    align-items: center;
    padding: 0;
  }

}