.main-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10rem 7rem 10rem auto;
  gap: 1rem;
  margin:1rem;
}

.main-wrapper ul,
.main-wrapper li {
  list-style: none;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .main-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .document-card__table li:nth-child(2) {
    display: none;
  }
  .document-card__table li:nth-child(3) {
    display: none;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .main-wrapper {
    /* 1fr이 안먹히는 이유? */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .notice-wrapper {
    grid-column: auto;
    min-width: 550px /* background-color: #ecf3fd */;
  }
  .orderPerformance-wrapper {
    grid-column: auto;
    grid-row: auto;
  }
  .news-wrapper {
    grid-row: auto;
    background-color: #fffae1;
  }
  .calender-wrapper {
    grid-row: auto;
  }
  .document-card__table li:nth-child(2) {
    display: none;
  }
  .document-card__table li:nth-child(3) {
    display: none;
  }

}
.dsvalue-wrapper{
  grid-column: auto/span 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dsvalue-wrapper img {
  width: 25rem;
}
._card{
  padding: 10px;
  border-radius: 25px;
  box-shadow: #4444442e 0px 10px 20px 2px;
  box-sizing: content-box;
}
.inner-box{
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.inner-box__title{
  font-size: 0.85rem;
  font-weight: bolder;
}
.inner-box__title i{
  padding-right: 5px;
}

.inner-box__content {
  margin: 5px;
}
.chart-box{
  width: 100%;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이달의리더쉽 */
.leadership-wrapper{
  grid-column: auto/span 3;
  display: flex;
  align-items: center;
}
.emp-photo-box{
  width: auto;
  min-width: 5rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emp-photo-box img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.emp-photo-box i {
  font-size: 5rem;
  color: #2B3499;
}
.emp-content-box{
  line-height: 1.1rem;
}
.emp-content__title strong,
.emp-content__value strong {
  margin: 0 auto;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}
.emp-content__title span{
  font-size: 10pt;
}

.emp-content__value strong {
  font-size: 0.8rem;
  color:#e76e1d
}
.emp-content__paragraph{
  padding-left: 10px;
  padding-top: 10px;
  line-height: 12px;
  color: #3f3f3f;
  overflow-y: scroll;
}
.emp-content__paragraph span {
  font-size: 0.7rem;
  font-weight: 500;
}

.inner-box_leadership,
.inner-box_notice{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.inner-box__content_leadership{
  display: flex;
  flex-direction: row;
}

/* 공지사항 */
.notice-wrapper{
  grid-column: auto/span 3;
}
.inner-box__content_notice {
  line-height: 1.25rem;
}
.notice-card__table li,
.document-card__table li{
  display: flex;
  font-size: 0.75rem;
  font-weight: 400;
}
.document-card__table,
.notice-card__table{
  display: flex;
  font-size: 10pt;
  padding: 0;
  margin: 0;
}
.notice-card__table li span:first-child {
  width: 3.5rem;
}
.notice-card__table li span:nth-child(2){
  padding-right: 10px;
  width: 5rem;
  text-align: center;
}
.notice-card__table li span:nth-child(3){
  padding-right: 10px;
  width: 6rem;
  text-align: center;
}
.notice-card__table li:nth-child(4){
  padding-right: 10px;
  width: 5%;
  text-align: center;
}

/* 이달의 수주실적 */
.orderPerformance-wrapper{
  grid-column: auto/span 6;
  grid-row: auto/span 2;
}

/* 알림 */
.news-wrapper{
  grid-column: auto/span 2;
  background-color: #fffae1
}
/* 수주실적 */
.cost-wrapper{
  grid-column: auto/span 2;
}
.this-month{
  background-color: #fff4e9;
}
.cost-wrapper .inner-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.25rem;
  height: -webkit-fill-available;
}
.cost-wrapper .inner-box .won__icon{
  background-color: #ffeccf;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.this-month i {
  color: #fff !important;
}
.this-month .won__icon {
  background-color: #ff8819 !important;
}
.cost-wrapper .inner-box .won__icon i {
  color: #ff9900;
  font-size: 1.5rem;
}
.cost-wrapper p {
  margin-top: 0.75rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 800;
  color: #e76e1d;
}
.cost-wrapper .inner-box__title span {
  font-size: 1.5rem;
  font-weight: 800;
}
.inner-box__title ._product {
  font-size: 0.8rem;
  color: #3f3f3f;
}
/* 날씨 */
.weather-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weather-card-left {
  display: flex;
}
.weather-card-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weather-wrapper{
  grid-column: auto/span 2;
  background-color: #93b9e4;
  background-image: url(../assets/img/weather/sunny2.jpg);                  /* 맑음 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
}
.weather-sky-fcstValue{
  font-weight: 600;
  color: #ffffff;
}
.weather-tmp-fcstValue{
  font-weight: 600;
  font-size: 5rem;
  position: relative;
  letter-spacing: -0.25rem;
}
.weather__time-date{
  display: flex;
  line-height: 2rem;
  justify-content: flex-end;
  flex-direction: column;
}
.whether-temp-items{
  display: flex;
  justify-content: center;
}
.weather-tmp-fcstValue span {
  font-size: 4rem;
  position: absolute;
  left: 100%;
  top: 0%;
}
.whether-info-box{
  display: flex;
  color: #fff;
}
.whether-info-box i {
  margin-right: 0.4rem;
  color: #fff;
}
.whether-info-box._left{
  flex-direction: column;
}
.whether-info-box._left .whether-temp-items{
  line-height: 6rem;
  color: #fff;
}
.weather__time {
  display: flex;
  line-height: 2rem;
  justify-content: flex-end;
}
.weather__time span{
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}
.weather__day {
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}
.weather-pty-fcstValue{
  line-height: 5rem;
  font-weight: 700;
  font-size: 3.5rem;
}
.weather-pty-box{
  display: flex;
  color: #fff;
  justify-content: center;
}
/* 최근 입사자 */
.newestEmp-wrapper{
  grid-column: auto/span 2;
  display: flex;
  align-items: center;
}
.inner-box-NewestEmp{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px;
}
.emp-content-box_NewestEmp {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
.emp-content__title_NewestEmp span:nth-child(2) {
  margin-bottom: 10px;
}
.emp-content__title_NewestEmp i {
  padding-right: 5px;
  font-size: 7pt;
}
.emp-content-box_NewestEmp span{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 9pt;
}
/* 일정 */
.calender-wrapper{
  grid-row: auto/span 2;
  grid-column: auto/span 4;
}
.calender-wrapper .inner-box {
  height: 100%;
  justify-content: center;
}
.calender-box {
  width: 100%;
  height: 100%;
}
.calender-wrapper .inner-box .inner-box__title {
  display: flex;
  justify-content: space-between;
}
/* 최신문서 */
.currentDoc-wrapper{
  grid-column: auto/span 3;
}
.document-card__table li:first-child {
  padding-right: 10px;
  width: 100%;
}


/* 생일자 */
.birthday-wrapper{
  grid-column: auto/span 3;
}
