.react-datepicker__input-container input {
  border: none; /* border 없애기 */
  outline: none; /* 선택 효과 제거 */
  height: auto;
  padding-right: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 9pt;
  background-color: #ffffff00;
}

.react-datepicker__input-container button::after {
  display: none;
  background-color: #da0000;
  width: 12px;
  height: 12px;
}
.react-datepicker-wrapper {
  max-height: 20px !important;
}
.react-datepicker__navigation,
.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  border-left-color: #ffffff; 
  color: #ffffff;
}

.react-datepicker-popper {
  z-index: 2 !important;
}
.react-datepicker{
  font-family: "Noto Sans KR", sans-serif !important;
}
.react-datepicker__header {
  background-color: #ffffff !important;
  border-bottom: none !important;
}
.react-datepicker__day-names .react-datepicker__day-name:first-child,
.react-datepicker__week .react-datepicker__day:first-child{
  color: #da0000;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  border-bottom-color: #ffffff;
}

/* .react-datepicker__day-names .react-datepicker__day-name:nth-child(7),
.react-datepicker__week .react-datepicker__day:nth-child(7){
  color: #0059ac;
} */

.react-datepicker__day .react-datepicker__day--031 .react-datepicker__day--outside-month{
  color: #ffc21c;
}
.react-datepicker-ignore-onclickoutside{
  display: flex;
  font-size: 9pt;
}

/* 이전 달 다음 달 버튼 */
.react-datepicker__navigation-icon::before{
  top: 17px !important;
  border-color: #000000 !important;
  border-width: 1px 1px 0 0 !important;
}
/* navigation button 높이 */
.react-datepicker__navigation{
  height: 40px !important;
}


/* 선택 한 날짜의 background */
.react-datepicker__day--keyboard-selected {
  background-color: #ffc21c !important;
  border-radius: 50% !important;
}
.prev-month-day,
.next-month-day,
.other-month-day{
  font-weight: 500;
}
.react-datepicker__month{
  font-weight: 600;
}
.react-datepicker__day--outside-month {
  color: #979797 !important;
  cursor: default;
}

.react-datepicker__current-month{
  font-size: 13pt;
  font-weight: 900;
  padding: 10px 0px;
}

.react-datepicker__day--selected {
  background-color: #ffc21c !important;
  border-radius: 50% !important;
  font-weight: 900 !important;
  color: #000000;
}
.react-datepicker__navigation {
  color: #000000;
}

.custom-header button {
  font-size: 15px;
  background-color: #ffffff;
}
.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2.5rem;
}
.custom-header span {
  font-size: 16px;
  font-weight: 800;
}