.ck-editor__toolbar {
  background-color: #f00; /* 예시로 빨간색 배경을 지정 */
}

.ck.ck-editor{
  height: 660px !important;
  max-height: 660px !important;
  min-height: 660px !important;
  resize: none !important;
}
.ck.ck-editor a {
  color: #0400ff;
}
.ck-content{
  height: 600px !important;
}



.ck.ck-editor__main>.ck-editor__editable {
  height: 640px !important;
  max-height: 640px !important;
  min-height: 640px !important;
  overflow: hidden !important;
  font-size: 10pt;
  resize: none !important;
}

.ck.ck-editor__editable_inline {
  overflow: hidden !important;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
  border-color: transparent;
}

.ck-editor__editable p {
  margin-bottom: 0;
}
