.notice-tbody td {
  line-height: 1.5rem;
}

.notice-tbody td:first-child {
  width: 10%;
}
.notice-tbody td:nth-child(2) {
  width: 10%;
}
.notice-tbody td:nth-child(3) {
  width: 50%;
}
.notice-tbody td:nth-child(4) {
  width: 10%;
}
.notice-tbody td:nth-child(5) {
  width: 10%;
}
.notice-tbody td:nth-child(6) {
  width: 10%;
}