.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: fixed;
  top: 15vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.edit-modal{
  width: 20rem;
  left: calc(50% - 30rem);
}

@media (min-width: 768px) {
  .modal {
    width: auto;
    left: calc(50% - 10rem);
  }
  .default-modal{
    width: 61rem;
    left: calc(50% - 50rem);
  }
  /* 문서양식 선택 */
  .modal.edit{
    width: auto;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}